<!DOCTYPE html>
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
      <!-- Bootstrap JS-->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

      <!-- JQuery -->
      <script type=text/javascript src="{{
         url_for('static', filename='jquery.js') }}"></script>
      <title>Food Dispenser Web</title>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <a class="navbar-brand" href="/">Food dispenser</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
           <div class="navbar-nav">
             <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
             <a class="nav-item nav-link" href="/menu">Dispenser menu</a>
             <a class="nav-item nav-link" href="http://192.168.0.13:3000/">Grafana</a>
           </div>
         </div>
      </nav>
      <!-- Alerts -->
      <div class="alert alert-warning alert-dismissible" id="halfAlert" style="display:none;">
        <strong>Warning!</strong> Dispenser is less than half full.
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      <div class="alert alert-danger alert-dismissible" id="emptyAlert" style="display:none;">
        <strong>Warning!</strong> Dispenser is nearly empty.
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      <!-- Status card -->
      <div class="card">
         <h5 class="card-header">Current status (updates every 30 seconds)</h5>
         <div class="card-body">
           <h5 class="card-title">Dispenser status</h5>
           <p class="card-text">Current weight is:</p> <div id='scaleData'></div><p class="card-text">grams.</p>
           <h5 class="card-title">Bowl status</h5>
           <p class="card-text">Current weight is: N/A grams.</p>
         </div>
      </div>
      <a href="/disp" class="btn btn-block btn-lg btn-secondary disabled" style="display:none" role="button">Dispense 20 grams</a>
      </h1>


      <!-- Script for real time scale data -->
      <script>
        document.addEventListener("DOMContentLoaded", function(event) {
       
          const getSensorReading = function() {
            fetch(`http://${location.host}/update`)  // send request to route /update
              .then((resp) => resp.json())
              .then(function(response) {
                document.getElementById('scaleData').innerHTML = response.data.toFixed(2);
                if (response.data.toFixed(2) <= 125){
                  document.getElementById('emptyAlert').style.display = "block";
                } else if (response.data.toFixed(2) <= 500){
                  document.getElementById('halfAlert').style.display = "block";
                }
            });
          }

          getSensorReading();
          setInterval(getSensorReading, 1000);  //request for update every 30 seconds
        });
       </script>

   </body>
</html>